@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white scrollbar-hide;
  }
}

@layer components {
  .headerNav {
    @apply text-xs lg:text-sm text-gray-200 hover:text-gray-400 transition duration-300;
  }
  .bannerContainer {
    @apply h-[56.25vw] w-full absolute;
  }
  .bannerTextContainer {
    @apply z-10 absolute top-0 bottom-1/3 left-[5%] w-2/3 md:w-1/3 flex flex-col justify-end gap-[1.2vw];
  }
  .bannerButton {
    @apply pl-4 pr-6 py-1 rounded-md flex gap-1 items-center;
  }
}

@layer utilities {
  .absolute-full {
    @apply absolute top-0 bottom-0 left-0 right-0;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }
}
